You just received tips via SmartyTip! Hooray for money.

= @tip.user_transaction.user.signature
sent you 
$
= @tip.amount
.

You can view details of who gave you tips and other things on your SmartyTip dashboard.