%tr
  %td 
    = transaction_date(tip)
  %td 
    =# image_tag tip.user_transaction.avatar_thumb
    =# tip.signature
  %td.message
    = tip.message
  %td
    = number_to_currency(tip.amount, precision: 0)
