%section.my-properties
  %h2 My Properties
  .all-properties-wrapper
    = render partial: 'property', collection: current_employee.properties, locals: { user: current_employee }

%section.my-payment
  %h2 My Deposit Method
  .payment-information
    %p 
      Mastercard &ndash;3335
    = link_to "edit", '#', class: 'action-link right'

%section.my-tipping
  - if @tips.any?
    %h2 Tips received
    %table.dashboard-table.employee-table
      %thead
        %tr
          %th Date
          %th From
          %th.message Message
          %th Amount
        %tbody
          = render partial: 'tip', collection: @tips
    = will_paginate @tips