nav
  background: $dark-blue
  padding: 2rem

  // Nav bar on splash page
  &.home-nav
    width: 100%
    background: transparent
    position: absolute

.logo
  float: left
  color: white
  font-weight: 700


.nav-links
  float: right

  li
    display: inline-block

  a
    text-transform: uppercase
    color: white
    font-weight: 700
    margin-right: 2rem