%tr
  %td 
    = transaction_date(transaction)
  %td
    = transaction.address
  %td
    = number_to_currency(transaction.total, precision: 0)
  %td
    = link_to "View Details", user_transaction_path(current_user, transaction), class: 'action-link'