%tr
  %td 
    = transaction_date(transaction)
  %td
    = transaction.full_address
  %td
    = number_to_currency(transaction.total, precision: 0)
  %td
    = link_to "View Details", user_property_transaction_path(current_user, transaction.property, transaction), class: 'action-link'