%h2 My Properties

%section.my-properties
  .all-properties-wrapper
    = render partial: 'property', collection: @properties, locals: { user: current_user }

%section.my-payment
  %h2 My Payment Method
  .payment-information
    %p 
      Mastercard &ndash;3335
    = link_to "edit", '#', class: 'action-link right'

%section.my-tipping
  %h2 My Tipping History
  %table.dashboard-table
    %thead
      %tr
        %th Date
        %th Property
        %th Total
        %th
      %tbody
        / each tipping time
        %tr
          %td 
            10/03/14
          %td 
            Acacia
            1560 Fulton Street
            Brooklyn, NY 11213
          %td
            $610
          %td
            = link_to "View Details", '#', class: 'action-link'
