%nav.clearfix{class: (yield :home_nav)}
  = link_to "SmartyTip", root_path, class: 'logo'

  / If not signed in
  %ul.nav-links
    %li
      = link_to "About", '#'
    %li
      = link_to "FAQ", '#'
    %li
      = link_to "Log In", '#', class: 'primary-button'