<% if @invitation.valid? %>
  var recipientEmail = "<%= @invitation.recipient_email %>";
  $('.js-sent-invites-list').append('<li>' + recipientEmail + '</li>');
  $('#sent-invitations h2').html('Sent invitations');
  $('#new_invitation')[0].reset();
<% end %>

$('#flash').html("<%= escape_javascript(render 'shared/flash_messages', flash: flash).html_safe %>");