%h1 Invite property managers

= simple_form_for [:admin, @invitation], remote: true do |f|
  = f.input :recipient_email, label: 'Email'
  = f.submit "Send Invitation"

#sent-invitations
  - if @invitations.any?
    %h2 Sent invitations

%ul.js-sent-invites-list
  - if @invitations.any?
    = render @invitations
