.my-properties, .my-tipping, .my-employees
  width: 60%
  float: left
  margin: 2rem

.my-payment, .suggested-tips, .small-column
  width: 30%
  float: left
  margin-top: 2rem

.all-properties-wrapper, .all-employees-wrapper, .payment-information, .invitation-table-wrapper, .dashboard-table
  border: 1px solid $light-gray
  margin-top: .5rem

.payment-information, .single-employee, .invitation-table-wrapper
  padding: 1rem

  p
    display: inline-block
  span
    cursor: pointer

.js-delete-employee
  &:hover
    cursor: pointer

.single-property, .single-employee

  .js-delete-employee
    margin-bottom: 1rem

  .property-image, .thumbnail
    float: left

  .property-info, .employee-info
    float: left
    margin-left: 1rem

  a
    clear: right
    margin-bottom: 1rem

.add-building-wrapper, .single-property
  padding: 1rem
  border-bottom: 1px solid $light-gray

// Tipping table
.dashboard-table
  font-family: $sans
  border: 1px solid $light-gray
  width: 100%
  thead
    background: $gray

    th
      padding: .5rem
      text-align: left
      font-weight: 700
      text-transform: uppercase
      font-size: .8rem

  td
    padding: 2rem .5rem

  tr
    border-bottom: 1px solid $light-gray

.employee-table
  td, thead th
    padding: .5rem 1rem
    line-height: 1.5

  .message
    width: 350px

// Side tables

.small-table
  width: 100%
  font-family: $sans

  td
    padding-bottom: 1rem

  tr:last-of-type td
    padding-bottom: 0

td.right-column, td.edit-column
  text-align: right
